/*
  #4178bb
  #0d57a0
  #48a5de
  #3f79b9
  #08569c
*/

.logo {
  height: 63px;
}
.logo2{
  height: 32px
}

#root {
  font-family: Helvetica Neue;
  font-weight: 100;
  overflow-x: hidden;
}

.link-cont {
  gap: 30px;
}

.nav-buttons {
  gap: 20px;
}

#button1 {
  border: 2px solid white;
  font-weight: bold;
  background-color: transparent;
  color: white;
 
}

.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  content: '';
  mix-blend-mode: color-burn;
  border-radius: 0px;
}

.button {
  position: relative;
  border: none;
  background: none;
  mix-blend-mode: screen;
  color: #1E1E1E;
}

/*#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  position: relative; 
  
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(35, 35, 35), transparent);
  overflow: hidden;
}
*/
.container {
  position: relative;
  z-index: 2;
  width: 100vw;
  margin: 0px
}

#navbar {
  width: calc(100vw - 50px);
}

#subheader {
  height: 160px;
  color: white;
  background: linear-gradient(to right, #08569c,#48a5de);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 100px;
  font-weight: 100;

  margin-top: 100px;
  background: linear-gradient(to right, #08569c,#48a5de);
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subicon{
  font-size: 25px;
}
.iconpair{
  gap: 20px
}
#header i{
  
  font-size: 33px;
}

.arrowdown {
  font-size: 30px;
  color: white;
}

.custom-text {
  height: fit-content;
  display: inline-block;
  margin: 0px;
  font-weight: 400;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #3f79b9;
  /* Rimuovi white-space e aggiungi overflow: visible; */
  white-space: nowrap;
  z-index: 5;
  margin-bottom: 100px;
  margin-top: -33px;
  overflow: hidden;

}



#centerheader {

  color: transparent;
  -webkit-text-stroke: 2px #7ca8d7;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* width and color */
  font-size: 65px;
  font-weight: 900;
  line-height: 65px;

}

.center-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 22vh;
  gap: 80px;
}

.center-head-right {
  line-height: 0px;
  text-align: start;
  color: white;
  margin-left: 35px;
  justify-content: center;
  gap: 20px

}

.center-button {
  background-color: transparent;
  border: 6px solid white;
  margin-top: 0px;
}

.center-top {
  line-height: 25px;
  font-size: 18px;
  text-align: start;
}

.center-card-button {
  background-color: white;
  border: 2px solid #4178bb;
  color: #4178bb;
  padding: 5px;
  ;
}

.center-card-title {
  font-size: 25px;
}

#center-card {
  text-align: start;
  margin: 0px;
  margin-top: 80px;
  width: fit-content;

}

.card-container {
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-right: 0px;
}

.cardCont {
  margin: 10px;
  /* Aggiungi uno spazio tra le cards */
}


#center-card {
  margin-right: 150px;
}

button:hover {
  transform: scale(1.07);
}

button {
  transition: all 0.3s;
  border-radius: 8px;
  font-size: 15px;
  
}

a:hover {
  border-bottom: 3px solid linear-gradient(to right, #3f79b9, black);
}



a {
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
}

a:hover::after {
  transform: scaleX(1);
  /* Espande il bordo inferiore al passaggio del mouse */
}

.card-wrapper {
  margin-left: 90px;
}

#sliderimage1 {
  background-image: url("../public/assets/fofotetti7.jpg");
  height: 400px;
}

#sliderimage2 {
  background-image: url("../public/assets/fototetti6.jpg");
  height: 400px;
}

.sliderbottom {
  height: 400px;
  background: linear-gradient(to right, #08569c,#48a5de);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#slider {
  margin-top: 180px;
  margin-bottom: 0px;
}

#slidertitolo {
  color: white;
  font-size: 40px;
  margin-bottom: 35px;
}

#slidertesto {
  color: white;
  width: 600px;
}

.cardbottom {
  height: 430px;
  box-shadow: 0px 6px 22px 4px rgba(109, 109, 109, 0.59);
  border-radius: 8px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  width: 22vw;
  margin: 30px;
  transition: all 0.3s;
}

.cardbottom:hover {
  transform: scale(1.02);
  box-shadow: 0px 11px 30px 10px rgba(109, 109, 109, 0.59);
}

.cardBbottom {
  height: 50%;
  padding: 30px;
}

.bardtitle {
  margin-top: 0px;
  color: #3f79b9;
  text-transform: uppercase;
  font-size: 22px;
}

.cardbottom-image {
  height: 100%;
  width: auto;
  object-fit: cover;
  /* Imposta l'immagine per coprire il contenitore mantenendo l'aspetto */
  object-position: center;
}

.cardbottomfoto {
  height: 50%;
  width: 100%;
  overflow: hidden;

}

.bottomcardscontainer {
  margin-left: 200px;
}

.sottoservizi {
  color: #3f79b9
}

#topfooter {
  height: 180px;
  margin-top: 100px;
  background: linear-gradient(to right, #08569c,#48a5de);
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topfootertext {
  color: white;
  width: 63vw;
  text-transform: uppercase;
  font-size: 18px;
}

#bottomfooter {
  height: 240px;
  background-color: #1E1E1E;
}

.logo1 {
  width: 25px;
}

.links {
  gap: 110px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid white;
}

.linkgroup {
  display: flex;
  flex-direction: row;
  gap: 180px;
  font-weight: 100;

}

.bardcontainer {
  margin-right: 20px;
}

#footericons {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.footericonswrapper{
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 0px;
}
.footermark{
  margin-bottom: 0px;
}

.h-pic-right{
  background-image: url(../public/assets/fototetti8.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.h-pic-left{
  background-color: #7ca8d7;
}
#halfpicture{
  height: 500px;
  color: white;
}
#halfpicture h3{
  font-size: 36px;
}
.h-icons p{
  font-size: 17px;
}
.ht-p{
  font-size: 20px;
  text-align:center;
}

.link, .footerlink{
  color: white;
  text-decoration: none;
}
.link:hover, .footerlink:hover{
  color:#3f79b9;
  text-decoration: none;
}

.linktop{
  font-size: 17px;
  color:#aad3ff ;
  font-weight: 400;
}

.lefttop{
  width: 65%;
  justify-content:space-between;
}
.round-card {
  position:absolute;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #ffffff;
  position: relative; /* Aggiungi questa proprietà per posizionare il riflesso */
  box-shadow: 80px 30px 400px 5px #bbccdf inset, -3px 3px 10px 0px rgb(90, 90, 90);
  transition: all 0.3s;
}
.round-card:hover{
  box-shadow: 80px 30px 400px 5px #6190c2 inset, -4px 4px 4px px rgb(90, 90, 90);
  transform: scale(1.01);
}

/* Aggiungi un "padding" al riflesso di luce */
.round-card::before {
  content: "";
  position: absolute;
  top: 1px; /* Regola la posizione del riflesso rispetto al bordo superiore */
  left: 1px; /* Regola la posizione del riflesso rispetto al bordo sinistro */
  right: 1px; /* Regola la posizione del riflesso rispetto al bordo destro */
  bottom: 1px; /* Regola la posizione del riflesso rispetto al bordo inferiore */
  background: linear-gradient(to top, rgba(169, 222, 255, 0.4), transparent); /* Applica il riflesso di luce */
  border-radius: 15px; /* Assicurati che il riflesso abbia lo stesso bordo arrotondato */
}


.round-cont {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin-top: -300px;
  text-align: center;
  padding-top: 70%;
  color: white;
  display: flex; /* Abilita il modello di flessione */
  flex-direction: column; /* Imposta la direzione dei figli su colonna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  background: linear-gradient(to  left, #a4cee9 , #6e9fca );
  box-shadow: 0px 6px 22px 4px rgba(0, 0, 0, 0.59);
}
.round-cont::before {
  content: "";
  position: absolute;
  top: 10px; /* Regola la posizione del riflesso rispetto al bordo superiore */
  left: 10px; /* Regola la posizione del riflesso rispetto al bordo sinistro */
  right: 10px; /* Regola la posizione del riflesso rispetto al bordo destro */
  bottom: 10px; /* Regola la posizione del riflesso rispetto al bordo inferiore */
  border-radius: 15px; /* Assicurati che il riflesso abbia lo stesso bordo arrotondato */
}


.round-card-text{
  padding: 40px; position: relative;
}
.round-card-par{
  font-weight: 300;
}
.round-card-subtitle{
  font-size: 27px;
}
/* Stile per il contenitore principale */
.lines-cont {
  display: flex;
  align-items: flex-start; /* Allinea gli elementi all'inizio verticalmente */
  margin-bottom: 20px; 
  justify-content: space-between;
  
}

/* Stile per l'icona */
.lines-cont i {
  margin-right: 10px; /* Aggiungi spazio tra l'icona e h5 */
  align-self: flex-start; /* Allinea l'icona all'inizio verticalmente */
}

/* Stile per h5 */
.lines-h {
  margin: 0; /* Rimuovi il margine predefinito di h5 */
  align-self: flex-start; /* Allinea h5 all'inizio verticalmente */
}

/* Stile per p */
.lines-p {
  margin: 0; /* Rimuovi il margine predefinito di p */
  width: 50%; /* Imposta la larghezza desiderata */
  align-self: flex-start; /* Allinea il paragrafo all'inizio verticalmente */
  border-top: 2px solid black;
  font-size: 20px;
  font-weight: 300;
}
.lines-outcont {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
}
.lines-wrap{
  background-image: url(../public/assets/sfondo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 100px;
  padding-top: 100px;
}
.lines-incont{
  margin:0px;
  width: 83%;
}
.lines-title{
  font-size: 40px;
}
#map{
  margin: 0px;
  width: 95%;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.poli-wrap{
  gap: 0px;
  background: linear-gradient(to bottom, black, white);
  height: 900px;
}
.poli-bid{
  height: 800px;
}
#poli-cont{
  color: black;
  padding: 160px;
  align-items: flex-start;
}
#poli-p{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}
#poli-title{
  color:#7ca8d7;
  font-size: 35px;
}
#poli-butt{
  color: #7ca8d7;
  font-size: 19px;
  border: 3px solid #7ca8d7;
  background-color: transparent;
  padding: 8px;
  margin-top: 20px;
}
.threecard{
  padding: 80px;
  gap: 30px
}
.three-p{
  width: 90%;
}
.three-cont{
  margin-top: 60px;
}
.three-center{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.three-wrap{
  margin-top: 100px;
  margin-bottom: 100px;
}
.three-title{
  font-size: 38px;
}

.homelink{
  transition: all 0.4s;
  padding: 10px;
  border-radius: 10px;

}
.homelink:hover{
  background-color: white;
  border-bottom: 0px;
}
.homelink::after{
  background: transparent;
}
.link-cont .dropdown {
  position: relative;
}

.linktop.dropdown-toggle {
  margin-bottom: 0;  /* Rimuove il margine inferiore */
}

.dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 0;  /* Assicurati che non ci sia spazio tra il link e il menu a tendina */
  border-top: none;  /* Rimuove il bordo superiore per un passaggio più fluido */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.linktop.dropdown-toggle::after {
  margin-top: 0px; /* Aumenta o diminuisci questo valore per regolare la posizione verticale della freccia */
  transform: rotate(90deg);
}

/* Ruota la freccia di 90 gradi quando si fa hover sul link */
.dropdown:hover .linktop.dropdown-toggle::after {
  transform: rotate(0deg);
}
.linktop.dropdown-toggle::after{
  transition: all 0.2s;
}
.linktop.dropdown-toggle::after {
  position: relative;
  top: 2px;  /* Aumenta o diminuisci questo valore per regolare la posizione verticale della freccia */
}
.logo22{
  height: 20px;
}
.dropdown-item:hover{
  color:#4495db;
}
/* Footer.css */
.footer-logo {
  width: 150px;
}

.footer a {
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffc107;
}

.footer h5, .footer p {
  font-size: 1.1em;
}

.border-top {
  border-top: 1px solid #ffffff;
}
.footer1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.footer-links1 {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  flex-wrap: wrap;
  margin-bottom: 50px; 
}

.column1 {
  flex: 1;
  padding: 0 20px; 
  margin: 0 10px; 
}

.column1 ul {
  list-style: none;
  padding: 0;
}

.column1 li {
  margin-bottom: 10px;
}

.footer1 a {
  color: #fff;
  text-decoration: none;
}

.footer-social1 h5, .footer-info1 p {
  margin: 0 0 10px 0;
}

.social-icons1 {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-info1 {
  border-top: 1px solid #fff;
  padding-top: 20px;
  text-align: center;
}
.logo11{
  height: 70px;
  margin-bottom: 50px;
  margin-top: 50px
}
.logo21{
  height: 45px;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotateLogo {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader img {
  width: 100px;   /* Modifica a seconda delle dimensioni desiderate */
  height: 100px;  /* Modifica a seconda delle dimensioni desiderate */
  animation: rotateLogo 2s linear infinite;
}
.centercardpar{
  font-weight: 200;
  font-size: 17px;
}

.parag-text{
  font-size: 18px;
  font-weight: 200;
}

.contactcont{
  margin-left: 30vw;
  margin-top: 150px;
  font-weight: 300;
}

.search-street-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 500px;
  height: 500px;
  margin-top: 20px;
}
/* GoogleMaps.css */

.map {
  height: 500px;
  width: 500px;
}
.three-wrap i{
  font-size: 30px;
  color: #7ca8d7;
}
.three-wrap{
  font-weight: 300;
}
.paragCont{
  margin-top: 120px;
}