.class{
    background-color: rgb(30, 30, 30);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin-bottom: 10px; /* Aggiungi spazio tra le righe */
  }
  
  .input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Aggiungi spazio tra le righe */
  }
  .single-input {
    display: flex;
    justify-content: flex-end;
  }
  
  .textS{
      margin-right: 2rem !important;
  }

  .textD{
    margin-left: 2rem !important;
  }